<?xml version="1.0"?>
<config>
    <modules>
        <EDPA_Adpan>
            <version>0.0.2</version>
        </EDPA_Adpan>
    </modules>
    <global>
        <blocks>
            <edpa_adpan>
                <class>EDPA_Adpan_Block</class>
            </edpa_adpan>
        </blocks>
        <helpers>
            <edpa_adpan>
                <class>EDPA_Adpan_Helper</class>
            </edpa_adpan>
        </helpers>
        <resources>
            <edpa_adpan>
                <setup>
                    <module>EDPA_Adpan</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </edpa_adpan>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <EDPA_Adpan before="Mage_Adminhtml">EDPA_Adpan_Adminhtml</EDPA_Adpan>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <edpa_adpan>
                    <file>edpa/adpan.xml</file>
                </edpa_adpan>
            </updates>
        </layout>
    </adminhtml>
</config>